/*
Theme Name: Student-test
Author: bma
*/
.public_user_info{
	border-bottom: 1px solid black;
}

/*----------------- Список вопросов теста -------------------*/
.question-block{
	margin-bottom: 20px;
	width: 100%;
	border-bottom: 1px dotted gray;
	padding: 10px;
	box-sizing:border-box;
}
.question-word{
	margin:0 0 20px 0;
	font-weight: bold;
}
.question-block input{
	margin: 10px 0 10px 0;
}
.b-submit-answers{
	background-color: red;
	border-radius: 5px;
	height: 50px; line-height: 50px;
	width: 300px;
	text-align: center;
	
	cursor: pointer;
}

.b-inactive{
	cursor:default;
	background-color: gray;
}
/*маркеры правильных ответов*/
.q-bingo{
	background-color: green;
}
/*маркеры ошибочных ответов*/
.q-fail{
	background-color: red;
}

/*----------------- Результаты тестов -------------------*/
.user-block{
	border-bottom:2px solid black;
	padding: 10px; box-sizing:border-box;
	margin:10px 0 10px 0;
	width: 100%;
	overflow: hidden;
}
.user-block:after{
	content: '';
	clear:both;
}
.user-info{
	width: 20%;
	min-width: 200px;
	float:left;
	padding: 10px; box-sizing:border-box;
}
.test-results{ /*результаты тестов*/
	float:left;
	width: 70%;
	padding: 10px; box-sizing:border-box;
}
.test-res{ /*результаты конкретного теста/попытки */
	margin-bottom: 5px;
	width: 100%;
}
.test-title{
	font-weight: bold;	
}
.test-questions{ /*вопросы теста*/
	width: 100%;
}
.inres-question{ /*конкретный вопрос*/
	width: 100%;
}
.inres-question-title{
	display: inline-block;
}
.inres-question-mark{
	display: inline-block;
}
.test-itog{
	margin-top:10px;
	font-weight: bold;
}