* {
    margin: 0px;
    padding: 0px;
}
   .socials {
    position: relative;
    z-index: 2; }
   .socials {
    position: relative;
    z-index: 4;
    }
   .socials img {
    width: 60px;
    height: 60px;   
    }
.soc1 { position: absolute; top: 10px; left: 11px;}
.soc2 { position: absolute; top: 10px; left: 68px;}
.soc3 { position: absolute; top: 10px; left: 125px;}
.soc4 { position: absolute; top: 60px; left: 39px;}
.soc5 { position: absolute; top: 67px; left: 125px;}
.soc6 { position: absolute; top: 102px; left: 91px;}
.like { width: 53%; position: absolute; bottom: 50px; left: 50px;}

/*******************Fonts*********************/
@font-face {
    font-family: 'luganskyvregular';
    src: url('../fonts/luganskiyv.eot');
    src: url('../fonts/luganskiyv.eot?#iefix') format('embedded-opentype'),
         url('../fonts/luganskiyv.woff2') format('woff2'),
         url('../fonts/luganskiyv.woff') format('woff'),
         url('../fonts/luganskiyv.ttf') format('truetype'),
         url('../fonts/luganskiyv.svg#luganskyvregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/***************end fonts*******************/

/***************MENU***********************/
a {
  color: #333;
  text-decoration: none;
}

.open {
  position: fixed;
  top: 8px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.open:hover { opacity: 0.8; }

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #757575;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 2, 6, 0.27);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li a:hover {
font-weight: 900;
color: #e03036;
}
.sub-menu li a {
  color: #fff;
  font-family: 'luganskyvregular';
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(0, 2, 6, 0.27);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li { margin-right: 168px; }
/***************end MENU******************/


/***************Social animation**********/
 .socials a img:hover {
-webkit-animation: cssAnimation 2.129s 5 ease;
-moz-animation:  cssAnimation 2.129s 5 ease;
-o-animation: cssAnimation 2.129s 5 ease;
}
@-webkit-keyframes cssAnimation {
from {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
 }
to {-webkit-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
 }
}
@-moz-keyframes cssAnimation {
from {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
 }
to {-webkit-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
 }
}
@-o-keyframes cssAnimation {
from {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
 }
to {-webkit-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
 }
}

  

.left {
 width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;

 position: absolute;
 top: 0;
 left: 0;    
}
.right {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: grey;  
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/about7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.right_music {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: grey;  
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/music.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}



.left h1 {
    margin: 11% 5% 0 60%;
    font-family: 'luganskyvregular';
    font-size: 1em;
    box-sizing: border-box;
    padding-bottom: 4%;
}

.left p {
    width: 50%;
    text-indent: 30px;
   margin-left: 40%;
    font-family: 'Open Sans';
    font-size: 0.8em;
    text-align: justify;
}

/******************Music Player**************************/
#wrapper { color: #666; font-family: sans-serif; line-height: 1.4; }
      ol li a { color: #888; text-decoration: none; }
     #wrapper { width: 400px; margin: 25% 5% 10% 11%; }
      
      ol { padding: 0px; margin: 0px; list-style: decimal-leading-zero inside; color: #ccc; width: 460px; border-top: 1px solid #ccc; font-size: 0.9em; }
      ol li { position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #ccc; cursor: pointer; }
      ol li a { display: block; text-indent: -3.3ex; padding: 0px 0px 0px 20px; }
      li.playing { color: #E63339; font-weight: 700; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
      li.playing a { color: #E63339; font-weight: 700; }
      li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
p.play { margin-left: 16%; }
p.pause { margin-left: 26%; }     

/**********************End music player********************/

@media (max-width: 700px) {
    body {
        width: 100%;
    }
    .right {
        width: 100%;
        
    }
    
    .left {
    width: 100%;
    height: 50%; 
    position: absolute;
   top: 450px;
    left: 0;    
    }
    
    .right {
    width: 100%;
    height: 50%;
    position: static;
    background-image: none;
     
    }
    
     .right_music {
    width: 100%;
    height: 50%;
    position: static;
    background-image: none;
     
    }
    .text1 {
        box-sizing: border-box;
        padding-top: -70px;
    }
    .left p {
    width: 80%;
    margin: 20px auto;
    }
    
    .left .play,
    .left .pause {
        margin: 1px auto;
    }
    
    .imageabout {width: 100%; height: 50%;  min-height: 500px; position: absolute; top: 0; left: 0; background-image: url(../images/about.jpg); background-size: cover;}
    .imagemusic {width: 100%; height: 50%;  min-height: 500px; position: absolute; top: 0; left: 0; background-image: url(../images/music.jpg); background-size: cover;}
    
    .left .socials img {
        width: 50px;
        height: 50px;
    }
    
    .left .socials {
        position: absolute;
        top: -450px;
        left: 10px;
    }
    
.soc2 { position: absolute; top: 10px; left: 59px;}
.soc3 { position: absolute; top: 10px; left: 107px;}
.soc4 { position: absolute; top: 52px; left: 36px;}
.soc5 { position: absolute; top: 58px; left: 107px;}
.soc6 { position: absolute; top: 85px; left: 79px;}
    
    .like { width: 70%; position: relative; bottom: 0; left: 75px; margin: 0 auto; padding-top: 40px; padding-bottom: 20px; box-sizing: border-box;}


#wrapper {
        margin: 6% 4% 10% 11%;
}
  

}
@media (max-width: 540px) {
 body {
        width: 100%;
     min-width: 540px;
    }
    .right {
        width: 100%;
        min-width: 540px;
    }
    
    .left {
    width: 100%;
    height: 50%; 
    min-width: 540px;    
    position: absolute;
   top: 450px;
    left: 0;    
    }
    
    .right {
    width: 100%;
    height: 50%;
    min-width: 540px;    
    position: static;
    background-image: none;
     
    }
    
     .right_music {
    width: 100%;
    height: 50%;
    min-width: 540px;
    position: static;
    background-image: none;
     
    }
    .text1 {
        box-sizing: border-box;
        padding-top: -70px;
    }
    .left p {
    width: 80%;
    margin: 20px auto;
    }
    
    .left .play,
    .left .pause {
        margin: 1px auto;
    }
    .imageabout {width: 100%; height: 50%;  min-height: 500px; min-width: 540px; position: absolute; top: 0; left: 0; background-image: url(../images/about.jpg); background-size: cover;}
    .imagemusic {width: 100%; height: 50%;  min-height: 500px; min-width: 540px; position: absolute; top: 0; left: 0; background-image: url(../images/music.jpg); background-size: cover;}
    
    .left .socials img {
        width: 50px;
        height: 50px;
    }
    
    .left .socials {
        position: absolute;
        top: -450px;
        left: 10px;
    }
    
.soc2 { position: absolute; top: 10px; left: 59px;}
.soc3 { position: absolute; top: 10px; left: 107px;}
.soc4 { position: absolute; top: 52px; left: 36px;}
.soc5 { position: absolute; top: 58px; left: 107px;}
.soc6 { position: absolute; top: 85px; left: 79px;}
    
    .like { width: 70%; position: relative; bottom: 0; left: 75px; margin: 0 auto; padding-top: 40px; padding-bottom: 20px; box-sizing: border-box;}   
    
}

@media (max-width: 970px) {
    
    .text1 {
        margin-top: 87px;
        width: 100%;
    }
    
    .left p {
    width: 90%;
    margin: 20px auto;
    }
    .like { width: 70%; position: relative; bottom: 0; left: 75px; padding-top: 40px; padding-bottom: 20px; box-sizing: border-box;}
}

.img-sm {
    width: 20%;
    float: left;
    margin: 10px;
    
}
.gallery {
    margin-top: 5%;
    margin-right: 5%;
/*    outline: 1px solid black;*/
    width: 60%;
    height: 500px;
    float: right;
    box-sizing: border-box;
    padding: 40px;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-track{
    border-width:2px;
}
