@media (max-width: 700px) {
    body {
        width: 100%;
    }
   
    .socials {
        width: 100%;
    }
    
    .left .socials img {
        width: 50px;
        height: 50px;
    }
    
    .left .socials {
        position: absolute;
        top: -450px;
        left: 10px;
    }
    
.soc2 { position: absolute; top: 10px; left: 59px;}
.soc3 { position: absolute; top: 10px; left: 107px;}
.soc4 { position: absolute; top: 52px; left: 36px;}
.soc5 { position: absolute; top: 58px; left: 107px;}
.soc6 { position: absolute; top: 85px; left: 79px;}
    
    .like { width: 70%; position: relative; bottom: 0; left: 50px; margin: 0 auto; padding-top: 40px; padding-bottom: 20px; box-sizing: border-box;}



    .img-sm {
    width: 40%;
    float: left;
    margin: 10px;
    
}
.gallery {
    margin-top: 20%;
    margin-right: 5%;
/*  outline: 1px solid black;*/
    width: 80%;
    height: 500px;
    float: right;
    box-sizing: border-box;
    padding: 40px;
    overflow-y: scroll;
}

}


@media (max-width: 970px) {
    
    .text1 {
        margin-top: 130px;
        width: 100%;
    }
    
    .left p {
    width: 90%;
    margin: 20px auto;
    }
    .like { width: 70%; position: relative; bottom: 0; left: 50px; padding-top: 40px; padding-bottom: 20px; box-sizing: border-box;}
}

.img-sm {
    width: 20%;
    float: left;
    margin: 10px;
    
}
.gallery {
    margin-top: 5%;
    margin-right: 5%;
/*    outline: 1px solid black;*/
    width: 60%;
    height: 500px;
    float: right;
    box-sizing: border-box;
    padding: 40px;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-track{
    border-width:2px;
}