.right {
      
    }
    
    .right.musics {
        background-image: url(../images/music.jpg);
    }
    .left {
    width: 100%;
    height: 50%; 
    min-width: 450px;
    position: absolute;
   top: 500px;
    left: 0;    
    }
    .right {
    width: 100%;
    height: 50%;
    min-width: 450px;
    position: static;
    background-image: none;
     
    }
    
    .left p {
    width: 80%;
    margin-left: 50px;
    }
    .imageabout {width: 100%; height: 50%;  min-width: 450px; position: absolute; top: 0;
left: 0; background-image: url(../images/about.jpg); background-size: cover;}
     

