* {
    margin: 0px;
    padding: 0px;
}
   .socials {
    position: relative;
    z-index: 2; }
   .socials {
    position: relative;
    z-index: 4;
    }
   .socials img {
    width: 60px;
    height: 60px;   
    }
.soc1 { position: absolute; top: 10px; left: 11px;}
.soc2 { position: absolute; top: 10px; left: 68px;}
.soc3 { position: absolute; top: 10px; left: 125px;}
.soc4 { position: absolute; top: 60px; left: 39px;}
.soc5 { position: absolute; top: 67px; left: 125px;}
.soc6 { position: absolute; top: 102px; left: 91px;}
.like { width: 27%; position: absolute; bottom: 50px; left: 50px;}

/*******************Fonts*********************/
@font-face {
    font-family: 'luganskyvregular';
    src: url('../fonts/luganskiyv.eot');
    src: url('../fonts/luganskiyv.eot?#iefix') format('embedded-opentype'),
         url('../fonts/luganskiyv.woff2') format('woff2'),
         url('../fonts/luganskiyv.woff') format('woff'),
         url('../fonts/luganskiyv.ttf') format('truetype'),
         url('../fonts/luganskiyv.svg#luganskyvregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/***************end fonts*******************/

/***************MENU***********************/
a {
  color: #333;
  text-decoration: none;
}

.open {
  position: fixed;
  top: 8px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.open:hover { opacity: 0.8; }

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #757575;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 2, 6, 0.27);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li a:hover {
font-weight: 900;
color: #e03036;
}
.sub-menu li a {
  color: #fff;
  font-family: 'luganskyvregular';
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(0, 2, 6, 0.27);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li { margin-right: 168px; }
/***************end MENU******************/


/***************Social animation**********/
 .socials a img:hover {
-webkit-animation: cssAnimation 2.129s 5 ease;
-moz-animation:  cssAnimation 2.129s 5 ease;
-o-animation: cssAnimation 2.129s 5 ease;
}
@-webkit-keyframes cssAnimation {
from {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
 }
to {-webkit-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
 }
}
@-moz-keyframes cssAnimation {
from {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
 }
to {-webkit-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
 }
}
@-o-keyframes cssAnimation {
from {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
 }
to {-webkit-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(360deg) scale(1) skew(-180deg) translate(0px) ;
 }
}

.img-sm {
    width: 20%;
    float: left;
    margin: 10px;
    
}
.img-bg {
    width: 45%;
    float: left;
    margin: 10px;
    margin-top: 158px;
    
}
.gallery-video {
    margin-top: 5%;
    margin-right: 5%;
/*  outline: 1px solid black;*/
    width: 60%;
    height: 500px;
    float: right;
    box-sizing: border-box;
/*    padding: 40px;*/
    overflow-y: scroll;
}
.gallery {
    margin-top: 10%;
    margin-right: 5%;
/*  outline: 1px solid black;*/
    width: 60%;
    height: 400px;
    float: right;
    box-sizing: border-box;
/*    padding: 40px;*/
    overflow-y: scroll;
}

.contacts {
    margin-top: 10%;
    margin-right: 5%;
/*  outline: 1px solid black;*/
    width: 60%;
    height: 400px;
    float: right;
    box-sizing: border-box;
    padding: 10%;
    overflow-y: scroll;
    text-align: center;
}
.contacts .dir{
    position: static;
}

.contacts p, .contacts a {
    font-family: 'luganskyvregular';
    font-size: 1em;
    padding-top: 10px;
    box-sizing: border-box;
}

.contacts p:nth-child(3) {
    padding-bottom: 10px;
}
 h1 {
       text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'luganskyvregular';
    font-size: 1em;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    left: 292px; 
   
 
}
::-webkit-scrollbar{
    width:8px;
    height: 2px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-track{
    border-width:2px;
}

.footer {
    width: 100%;
    height: 200px;
    
} 
/**************************Mediaquaries*********************/

@media (max-width: 700px) {
    body {
        width: 100%;
    }
    .socials img {
        width: 50px;
        height: 50px;
    }
    
    .socials {
        width: 80%;
        height: 150px;
        position: relative;
        top: 0;
        left: 10px;
    }
    
.soc2 { position: absolute; top: 10px; left: 59px;}
.soc3 { position: absolute; top: 10px; left: 107px;}
.soc4 { position: absolute; top: 52px; left: 36px;}
.soc5 { position: absolute; top: 58px; left: 107px;}
.soc6 { position: absolute; top: 85px; left: 79px;}
    
    .like { width: 70%; position: relative; bottom: 0; left: 50px; margin: 0 auto; padding-top: 40px; padding-bottom: 20px; box-sizing: border-box;}


 .img-sm {
    width: 40%;
    float: left;
    margin: 10px;
    
}
    
    .img-bg {
    width: 70%;
    margin: 20px 40px;
    float: left;
    }
.gallery {
    margin: 5% 5% 0 5%;
    margin-top: 3%;
    margin-right: 5%;
/*  outline: 1px solid black;*/
    width: 90%;
    height: 500px;
    
    box-sizing: border-box;
    padding: 40px;
    overflow-y: scroll;
}
    
    .gallery-video {
        width: 90%;
        height: 350px;
        margin: 0 auto;
    }
    h1 {
    top: 100px;
    left: 181px; 
   
 
}
    
    .contacts {
   margin: 10% 0 0 0;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding: 10%;
    overflow-y: scroll;
    text-align: center;
}
    .footer {
        width: 90%;
    }
}

@media (min-width: 1600px) {
    
 .gallery {
    height: 600px;
  
}   
}

